//Contains variables, mixins and functions required for main.scss
$primary-font: "Lato", sans-serif;
$primary-color: #3c3c57;
$font-color: #c7c4ce;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin flex {
  display: flex;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-col-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-col-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
